body {
    background: linear-gradient(orange);
}

img {
    width: 300px;
    height: 300px;
}

.tienda {
    text-align: center;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

.nose {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.no {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2%;
}

.afuera {
    text-align: center;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

.card {
    margin-left: 2%;
    font-family: 'Courier New', Courier, monospace;
}